
#layout {
	margin: 150px 0px;
	width: 100%;
}

#iconJogos {
	margin: 75px 0px;
	width: 100%;
}

.integJogos {
	width: 45%;
	-moz-transition: 0.2s;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

.integJogos:hover {
	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.texto {
	display: inline-block;
	max-width: 35%;
	font-size: 18px;
}

