body {
	/*background: #c100e9;*/
	width: 100%;
    overflow-x: hidden;
}
nav#header {
	margin: 25px 0px;
	display: inline-flex;
	width: 100%;
}

.perfil {
	width: 20%;
}

.jogos {
	margin: 0px 20px;
	width: 20%;
	-moz-transition: 0.2s;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

.jogos:hover {
	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}
#dropdown {
	width: 300px;
	margin: 50px;
}

div#navBar {
	width: 100%;
}

ul#listNavBar {
	height: 100%;
	padding: 40px 20px;
}

div#carrosel{
	background-color: #555555;
	margin: 150px 0px 500px 0px;
}

div#layout1 {
	margin: 250px 0px;
	width: 100%;
}

div#iconJogos {
	margin: 75px 0px;
	width: 100%;
}

img#carrosel1 {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

img#container {
	width: 45%;
	margin: 0px 30px 0px 30px;
	-moz-transition: 0.2s;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

img#container:hover {
	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

#texto {
	display: inline-block;
	width: 45%;
	font-size: 18px;
} 

h2 {
	margin: 50px;
}

