body {
	/*border: 5px solid red;*/
	position: relative;
	width: 100%;
    background-color: #585858;
    overflow-x: hidden;
    align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

}

#headerPage{
	/*border: 5px solid red;*/
	font-size: 20px;
	width: 900px;
	display: inline-flex;	
	margin: 10px 20px 30px 20px;

}

ul.navBar1 {
	width: 900px;
	/*border: 5px solid red;*/
	padding: 10px;
	font-family: black, Arial;
	list-style-type: none;
	text-align: center;
}
div.text {
	text-align: center;
	margin: 25px 150px 50px 150px;
	/*border: 5px solid red;*/
	width: 780px;
	padding: 15px;
	display: inline-block;
}
}

div.acessos {
	/*border: 5px solid red;*/
	width: 780px;
	height: 500px;
	padding: 15px;
	display: inline-block;
}

img.navBar {
	/*border: 5px solid red;*/
	height: 50px;
	width: 50px;
	margin: 25px;
}

img.container {
	/*border: 5px solid red;*/
	width: 780px;
	height: 500px;
	margin:50px 150px 50px 150px;
	display: inline-block;
}
span {
	color: white;
}
a {
	text-decoration: none;
	color: black;

}
a:hover {
	text-decoration: underline;
}