body {
	background: #c100e9;
	width: 100%;
    overflow-x: hidden;
}
nav#header {
	margin: 25px 0px;
	display: inline-flex;
	border: 1px solid black;
	width: 100%;
}

.logo {
	padding: 30px;
	width: 5%;
}

.logo1 {
	padding: 15px;
	width: 5%;
}
.jogos {
	margin: 0px 20px;
	height: 200px;
	width: 20%;
	-moz-transition: 0.2s;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

.jogos:hover {
	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

div#navBar {
	border: 2px solid black;
	margin: 0px 20px;
	width: 100%;
}

ul#listNavBar {
	padding: 20px 20px;
}


div#carrosel{
	margin: 100px 0px;
	border: 1px solid black;
}

div#layout1 {
	
	margin: 50px 0px;
	border: 1px solid;
	width: 100%;
}

div#layout2 {
	border: 1px solid;
	width: 100%;
}

div#iconJogos {
	margin: 75px 0px;
	border: 1px solid;
	width: 100%;
	height: 150px;
}

img#container {
	width: 45%;
	margin: 0px 30px 0px 30px;
	-moz-transition: 0.2s;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

img#container:hover {
	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

#texto {
	display: inline-block;
	width: 45%;
	font-size: 18px;
} 